{% load menu_tags %}
{% if children|length > 0 %}
<div id="sub-menu">
<ul id="sub-menu-items">
{% for child in children %}
<li{% if child.selected or child.ancestor %} class="{% if child.ancestor %}ancestor{% endif %}{% if child.selected %}selected{% endif %}"{% endif%}>
  <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
  {% if child.children %}
  <ul class="menu{{ child.menu_level }}">
    {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
  </ul> <!-- .menu{{ child.menu_level }} -->
  {% endif %}
</li>
{% endfor %}
</ul></div>
{% endif %}
