/**
 * © 2011 ROBO Design
 * http://www.robodesign.ro
 */

/*************************************************************************
 * General styling
 *************************************************************************/

html, body {
  background: rgb(245,245,245);
  font-family: Droid Sans, DejaVu Sans, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h2, h3 {
  font-weight: normal;
  color: rgb(60,90,250);
}

a {
  color: rgb(60,90,250);
}

a:focus {
  color: rgb(170,140,25);
}

a:visited {
  color: rgb(140,140,140);
}

a:hover {
  color: rgb(110,150,255);
}

code {
  font-size: 1.2em;
}

quote {
  font-style: italic;
  display: block;
  padding: 0 40px;
  line-height: 1.5em;
}

.clearfix:after, #contact-name-email-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
}

li {
  line-height: 1.5em;
}

p {
  line-height: 1.4em;
}

/*************************************************************************
 * Base styling
 *************************************************************************/

#skip-to-content, #back-to-content { display: none }

#header {
  background: url("../images/header.jpg") top left no-repeat rgb(234,234,234);
  width: 100%;
}

#header p, #header li { line-height: normal }

#logo a {
  text-decoration: none;
  text-transform: lowercase;
  color: black;
}

#logo {
  text-shadow: 1px 1px 2px white;
  padding-top:23px;
  padding-left:40px;
  margin:0;
  font-weight: normal;
}

#logo-planner {
  color: rgb(100,100,100);
}

#logo-org {
  color: rgb(160,160,160);
}

#logo:hover {
  opacity: 0.7;
}

#menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}

#menu-bar {
  background: rgb(230,35,20);
  width: 100%;
  display: block;
  text-transform: lowercase;
}

#header-tagline {
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 15px;
  margin:0;
  font-weight: bold;
  font-size: 1.1em;
  color: rgb(100,100,100);
  text-shadow: 0px 0px 10px white;
}

#sub-menu {
  background: rgb(95,15,0);
  padding-left: 5px;
}

#main-menu-items, #sub-menu-items {
  padding: 0;
  padding-left: 25px;
  margin: 0;
  list-style: none;
}

#main-menu-items a, #sub-menu-items a {
  display: inline-block;
  text-decoration: none;
}

#main-menu-items a {
  font-size: 1.1em;
  padding: 15px 15px;
  color: white;
}

#sub-menu-items a {
  font-size: 0.9em;
  padding: 10px 10px;
  color: rgb(255,230,230);
}

#main-menu-items a:hover {
  background-color: rgb(240,135,95);
}

#sub-menu-items a:hover {
  background-color: rgb(135,20,0);
}

#main-menu-items .selected a, #main-menu-items .ancestor a {
  background-color: rgb(200,5,0);
}

#sub-menu-items .selected a, #sub-menu-items .ancestor a {
  background-color: rgb(155,40,20);
  color: #fff;
}

#page-content {
  min-height: 1000px;
  min-width: 600px;
  width: 70%;
  background: white;
  border-right: 1px solid rgb(230,230,230);
  padding: 15px 40px 40px 40px;
}

#footer p {
  margin: 0;
}

#footer {
  border-right: 1px solid rgb(230,230,230);
  width: 70%;
  padding: 10px 40px;
  background: rgb(230,230,230);
  width: 70%;
}

#sitemap-link {
  float: right;
}

/*************************************************************************
 * Contact page
 *************************************************************************/

#contact-form {
  float: left;
  width: 318px;
  padding-right: 20px;
}

#contact-form form > p label,
#contact-name-email-wrapper label {
  display: block;
  font-weight: bold;
  cursor: pointer;
}

#contact-info {
  overflow: hidden;
}

#contact-name-email-wrapper > p {
  margin: 0;
  float: left;
  width: 50%;
}

#contact-name-email-wrapper input {
  width: 93%;
}

#contact-form #id_subject, /* ugly, I know */ 
#contact-form textarea {
  width: 97%;
}

